@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Inria Sans", sans-serif;
}
*:focus {
    outline: none;
}
.input{
    border:none;
    background-color: transparent !important;
    border-bottom: solid 2px #5B5B5B;
    outline: none !important;
    transition: 0.2s ease-in-out;
    @apply focus:focus:border-b-cosmic-purple focus:ring-0;
}

.button{
    @apply w-full rounded-3xl p-3 text-center
}

.input{
    @apply bg-transparent border-none text-dark-grey placeholder:text-dark-grey outline-none focus:outline-none focus:ring-0 focus:border-none;
}


.select-input{

    @apply bg-transparent text-dark-grey border-transparent border-b-dark-grey border-b-4 focus:outline-none focus:ring-0 hover:cursor-text;
}


.scrollbar-main::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollbar-main::-webkit-scrollbar-track {
  background: #3E3E3E; 

   border-radius:20px;
}
 
/* Handle */
.scrollbar-main::-webkit-scrollbar-thumb {
  background: #0E47FF; 
  height:20px;
  border-radius:20px;
}




.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
    scrollbar-width: none;
}
.travel-card{
    @apply w-[23rem] h-[15rem] overflow-visible relative bg-dark-grey  flex flex-col justify-start items-start p-6 text-card-grey-100 text-xl mt-6 mr-10 ml-4;
}