<div class="travel-card">
    <div class="flex items-center">
        <i class="fa-solid fa-user text-3xl"></i>
        <p class="text-4xl ml-4">{{ course.driver_name }}</p>
    </div>

    <div class="flex items-center mt-1">
        <i class="fa-solid fa-star"></i>
        <p class="ml-4">{{ course.driver_grade|floatformat:2 }}/ 5.00</p>
    </div>

    <div class="flex items-center mt-1">
        <i class="fa-solid fa-clock"></i>
        <p class="ml-4">{{ course.start_date|date:"d.m.Y" }}</p>
    </div>

    <div class="flex items-center mt-1">
        <i class="fa-solid fa-clock"></i>
        <p class="ml-4">{{ course.duration_days }} days</p>
    </div>

    <div class="flex items-center mt-1">
        <i class="fa-solid fa-circle"></i>
        <p class="ml-4">to {{ course.destination_name }}</p>
    </div>

    <div class="flex items-center mt-1">
        <i class="fa-solid fa-person"></i>
        <p class="ml-4">{{ course.taken_seats }}/{{ course.max_seats }} seats left</p>
    </div>

    <div class="price-click absolute -bottom-4 -right-4 bg-cosmic-purple p-6 text-white font-thin text-3xl cursor-pointer" data-course-id="{{ course.id }}">{{ course.price }} TIX</div>
</div>