{% extends "layout.html" %}

{% block page_title %}Orbit Express{% endblock %}

{% block content %}
    {% include "clients/navbar.html" %}

    {% include "clients/sidebar.html" %}

    <div class="w-[75vw] h-[85vh] mt-0 z-10">
        <div class="w-full h-auto flex flex-col mt-24"> 
            <div class="flex flex-row justify-start items-start flex-wrap w-full gap-3 text-2xl font-bold">
                <select name="destination" id="destination" class="select-input">
                    <option selected value="">Pick destination</option>
                    {% for planet in planets %}
                        <option value="{{ planet.id }}">{{ planet.name }}</option>
                    {% endfor %}
                </select>

                <div class="border-b-4 border-dark-grey">
                    <input type="text" id="time-for-departure" class="input" placeholder="When you depart?"/>
                    <i class="fa-regular fa-calendar text-dark-grey text-xl"></i>
                </div>

                <div class="border-b-4 border-dark-grey">
                    <input type="number" id="grade" class="input" placeholder="Grade"/>
                </div>

                <div class="border-b-4 border-dark-grey">
                    <input type="number" id="max-price" class="input" placeholder="Max price"/>
                </div>

                <select name="gender-driver" id="gender-driver" class="select-input">
                    <option value="false">Female</option>
                    <option value="true">Male</option>
                    <option value="" selected>Pick gender of driver</option>
                </select>
            </div>
        </div>

        <div id="courses-holder" class="w-full bg-transparent min-h-[60vh] max-h-[60vh] mt-6 flex justify-between flex-row gap-2 flex-wrap overflow-y-auto overflow-x-hidden scrollbar-main">
            {% for course in courses %}
                {% include "clients/course_card.html" with course=course %}
            {% endfor %}
        </div>
    </div>

    {% include "clients/modals.html" %}

    <div class="fixed w-full h-auto z-0 bottom-0 left-0">
        <img src="{% static 'img/planet.jpeg' %}" class="w-full h-auto" alt="planet">
    </div>
{% endblock %}

{% block scripts %}

    <script>
        const book_ride_url = "{{ book_ride_url }}";
        const get_courses_url = "{{ get_courses_url }}";
    </script>

    <script src="{% static 'js/clients_main.js' %}"></script>
{% endblock %}