{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/5628e1606a.js" crossorigin="anonymous"></script>
    <title>Orbit Express</title>
    {% tailwind_css %}
    <style>

        
    </style>
</head>
<body class="bg-[#000] flex flex-col items-center justify-center h-full">

    <p class="text-white">Elo tutaj driver main page</p>
   
    

</body>
</html>