{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/5628e1606a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Orbit Express</title>
    {% tailwind_css %}
</head>
<body class="bg-[#000] flex flex-col items-center justify-center h-full">

    <div id="navbar" class="w-screen flex flex-row p-5 h-[15vh] z-20">
        <div class="flex flex-row items-center">
            <i class="fa-solid fa-rocket text-cosmic-purple text-8xl"></i>
            <h1 class="text-6xl text-white font-bold ml-4">Orbit Express</h1>
        </div>

        <div class="bg-cosmic-purple w-1/4 h-full fixed z-20 top-12 right-0 translate-x-full hover:translate-x-[1/6] transition duration-500 ease-in-out hover:ease-in-out overflow-visible">
            <div class="w-full absolute -translate-x-1/4 top-0 bg-cosmic-purple h-10 rounded-full flex justify-start items-center">
                <span class="text-white text-2xl ml-5">&lt;&lt;</span>
            </div>

            <div id="ride-container" class=" w-full h-[85vh] overflow-y-scroll scrollbar-hide z-21  mt-2 flex flex-col justify-start items-center">


                {% for ride in my_ride_requests %}
                    <div class="travel-card !text-2xl">
                        <div class="flex items-center">
                            <i class="fa-solid fa-earth-europe"></i>
                            <p class="ml-4">to {{ride.destination_name}}</p>
                        </div>

                        <div class="flex items-center">
                            <i class="fa-solid fa-earth-europe"></i>
                            <p class="ml-4">from {{ride.departure_name}}</p>
                        </div>

                        <div class="flex items-center mt-2">
                            <i class="fa-solid fa-calendar"></i>
                            <p class="ml-4">{{ride.start_date|date:"d.m.Y"}}</p>
                        </div>


                        <div class="flex items-center mt-2">
                            <i class="fa-solid fa-dollar-sign"></i>
                            <p class="ml-4">{{ride.price}} TIX</p>
                        </div>


                        <div class="flex items-center mt-2">
                            <i class="fa-solid fa-circle"></i>
                            <p class="ml-4">{{ride.status}}</p>
                        </div>

                        {% if ride.status == 'Waiting for accepting' %}
                            <div data-ride-id="{{ride.id}}" class="accept-ride absolute -bottom-4 -right-4 bg-accept p-5 text-white font-thin text-3xl cursor-pointer">
                                <i class="fa-solid fa-check"></i>
                            </div>
                        {%endif%}
                    </div>
                {% endfor%}

               


            </div>

            <div class="text-center text-white h-[5vh] flex items-center justify-center text-xl">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>

    <div class="w-[75vw] h-[85vh] mt-0 z-10 ">

        <div class="w-full h-auto flex flex-col  mt-24"> 
            <div class="flex flex-row justify-start items-start flex-wrap w-full gap-3 text-2xl font-bold">
                <a href="/drivers/vehicles/">
                    <div class="bg-cosmic-purple p-3 rounded-md text-white">Manage your vehicles</div>
                </a>
                
                <a href="/drivers/courses/">
                    <div class="bg-dark-grey p-3 rounded-md text-white">Manage your courses</div>
                </a>

                <div id="add-vehicle" class="rounded-full w-14 h-14 bg-accept cursor-pointer flex justify-center items-center text-white">
                    <i class="fa-solid fa-add"></i>
                </div>
            </div>
        </div>

        <div id="vehicles-holder" class="w-full bg-transparent min-h-[60vh] max-h-[60vh] mt-6 flex justify-between flex-row gap-2 flex-wrap overflow-y-auto overflow-x-hidden scrollbar-main">
            {% for vehicle in vehicles %}
                <div class="travel-card !h-[10rem]">
                    <div class="flex items-center mt-1">
                        <i class="fa-brands fa-space-awesome"></i>
                        <p class="ml-4">{{vehicle.name}}</p>
                    </div>

                    <div class="flex items-center mt-1">
                        <i class="fa-solid fa-fingerprint"></i>
                        <p class="ml-4">{{vehicle.registration_number}}</p>
                    </div>

                    <div class="flex items-center mt-1">
                        <i class="fa-solid fa-person"></i>
                        <p class="ml-4">{{vehicle.max_passengers}} max passengers</p>
                    </div>

                    <div class="edit-vehicle absolute bottom-12 -right-4 bg-cosmic-purple p-4 text-white font-thin text-xl cursor-pointer" data-vehicle-id="{{vehicle.id}}">
                        <i class="fa-solid fa-edit"></i>
                    </div>

                    <div class="delete-vehicle absolute -bottom-4 -right-4 bg-danger p-4 text-white font-thin text-xl cursor-pointer" data-vehicle-id="{{vehicle.id}}">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="fixed w-full h-auto z-0 bottom-0 left-0">
        <img src="{% static 'img/planet.jpeg' %}" class="w-full h-auto" alt="planet">
    </div>

    <div id="add-vehicle-modal" class="fixed inset-0 bg-base-black bg-opacity-70 hidden flex justify-center items-center z-30">
        <div class="bg-base-black text-white border-cosmic-purple border-2 p-6 rounded-xl max-w-md w-full relative">
            <div class="mb-4">
                <h2 class="text-xl font-bold">Add new vehicle</h2>
            </div>

            <div class="mb-4">
                <div class="border-b-4 border-dark-grey">
                    <input type="text" id="add-vehicle-name" class="input" placeholder="Name"/>
                </div>
                <div class="border-b-4 border-dark-grey">
                    <input type="text" id="add-vehicle-registration-number" class="input" placeholder="Registration number"/>
                </div>
                <div class="border-b-4 border-dark-grey">
                    <input type="number" id="add-vehicle-max-passengers" class="input !w-full" placeholder="Max passengers"/>
                </div>
            </div>

            <div class="flex justify-between">
                <button id="cancel-modal" class="text-red-500">Cancel</button>
                <button id="confirm-add-modal" class="bg-cosmic-purple text-white p-2 rounded">Confirm</button>
            </div>
        </div>
    </div>

    <div id="edit-vehicle-modal" class="fixed inset-0 bg-base-black bg-opacity-70 hidden flex justify-center items-center z-30">
        <div class="bg-base-black text-white border-cosmic-purple border-2 p-6 rounded-xl max-w-md w-full relative">
            <div class="mb-4">
                <h2 class="text-xl font-bold">edit vehicle</h2>
            </div>

            <div class="mb-4">
                <div class="border-b-4 border-dark-grey">
                    <input type="text" id="edit-vehicle-name" class="input" placeholder="Name"/>
                </div>
                
                <div class="border-b-4 border-dark-grey">
                    <input type="number" id="edit-vehicle-max-passengers" class="input !w-full" placeholder="Max passengers"/>
                </div>
            </div>

            <div class="flex justify-between">
                <button id="cancel-edit-modal" class="text-red-500">Cancel</button>
                <button id="confirm-edit-modal" data-vehicle-id="" class="bg-cosmic-purple text-white p-2 rounded">Confirm</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script>
        $(document).on('click', '.delete-vehicle', function() {
            deleteVehicleRequest( $(this).data('vehicle-id'))
            getVehicleList()
        });

        $(document).on('click', '.edit-vehicle', function() {
            const vehicleId = $(this).data('vehicle-id');
            fetchVehicleData(vehicleId);
            
            $('#edit-vehicle-modal').removeClass('hidden');
            $('body').addClass('blurred');
        });



        $(document).on('click', '.accept-ride', function() {
            const rideId = $(this).data('ride-id');
            acceptRideRequest(rideId)
        });

        $(document).on('click', '#add-vehicle', function() {
            $('#add-vehicle-modal').removeClass('hidden');
            $('body').addClass('blurred');
        });

        $('#cancel-modal').on('click', function() {
            $('#add-vehicle-modal').addClass('hidden');
            $('body').removeClass('blurred');
        });

        $('#confirm-add-modal').on('click',function(){
            addVehicleRequest()
            $('#add-vehicle-modal').addClass('hidden');
            $('body').removeClass('blurred');
        });

        $('#confirm-edit-modal').on('click',function(){
            let vehicleId = $("#confirm-edit-modal").data("vehicle-id")
            let maxPassengers = $("#edit-vehicle-max-passengers").val()
            let name = $("#edit-vehicle-name").val()
            editVehicleRequest(vehicleId, name,maxPassengers)
            $('#edit-vehicle-modal').addClass('hidden');
            $('body').removeClass('blurred');
        });


        function acceptRideRequest(ride_id){
        let acceptRideFetch = "{{accept_ride_url}}";
        const csrfToken = getCSRFToken();

        fetch(acceptRideFetch, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
                id: ride_id
            })
        })
        .then((response) => response.json())
        .then((response) => {
            Toastify({
                    text: response.text,
                    duration:3000,
                    style: {
                        background: (response.type == "success") ? "green" : "red",
                    }
                }).showToast()

            getRides()
        });
    }


    function getRides() {
        const getRidesFetch = "{{get_rides_url}}";
        const csrfToken = getCSRFToken();

        fetch(getRidesFetch, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            }
        })
        .then(response => response.json())
        .then(response => {
            updateRideList(response);
        });
    }


    function updateRideList(rides) {
        const ridesContainer = $('#ride-container');
        const newRidesHTML = generateRideHTML(rides);
        ridesContainer.html(newRidesHTML);
    }


    function generateRideHTML(rides) {
        return rides.map(ride => {
            return `
                <div class="travel-card !text-2xl">
                    <div class="flex items-center">
                        <i class="fa-solid fa-earth-europe"></i>
                        <p class="ml-4">to ${ride.destination_name}</p>
                    </div>

                    <div class="flex items-center">
                        <i class="fa-solid fa-earth-europe"></i>
                        <p class="ml-4">from ${ride.departure_name}</p>
                    </div>

                    <div class="flex items-center mt-2">
                        <i class="fa-solid fa-calendar"></i>
                        <p class="ml-4">${new Date(ride.start_date).toLocaleDateString('en-GB')}</p>
                    </div>

                    <div class="flex items-center mt-2">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <p class="ml-4">${ride.price} TIX</p>
                    </div>

                    <div class="flex items-center mt-2">
                        <i class="fa-solid fa-circle"></i>
                        <p class="ml-4">${ride.status}</p>
                    </div>

                    ${
                        ride.status === 'Waiting for accepting'
                            ? `<div data-ride-id="${ride.id}" class="accept-ride absolute -bottom-4 -right-4 bg-accept p-5 text-white font-thin text-3xl cursor-pointer">
                                <i class="fa-solid fa-check"></i>
                            </div>`
                            : ''
                    }
                </div>
            `;
        }).join('');
    }



        function editVehicleRequest(vehicleId, name, maxPassengers){
            const csrfToken = getCSRFToken();
            const editVehicleUrl = `{{edit_vehicle_url}}`;
            fetch(editVehicleUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                   id: vehicleId,
                   name: name,
                   maxPassengers: maxPassengers
                })
            })
            .then(response => response.json())
            .then(response => {
                Toastify({
                        text: response.text,
                        duration:3000,
                        style: {
                            background: (response.type == "success") ? "green" : "red",
                        }
                    }).showToast()

                getVehicleList()
            });
        }

        function fetchVehicleData(vehicleId) {
            const csrfToken = getCSRFToken();
            const getVehicleUrl = `{{get_vehicle_url}}`;
            fetch(getVehicleUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                   id: vehicleId,
                })
            })
            .then(response => response.json())
            .then(vehicles => {
                $('#edit-vehicle-name').val(vehicles[0].name);
                $('#edit-vehicle-max-passengers').val(vehicles[0].max_passengers);
                console.log(vehicles[0].id)
                $('#confirm-edit-modal').attr('data-vehicle-id', vehicles[0].id);
            });
        }

        $('#cancel-edit-modal').on('click', function() {
            $('#edit-vehicle-modal').addClass('hidden');
            $('body').removeClass('blurred');
        });

        function getCSRFToken() {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                const [key, value] = cookie.trim().split('=');
                if (key === 'csrftoken') {
                    return decodeURIComponent(value);
                }
            }
            return null;
        }

        function generateVehicleHTML(vehicles){
            return vehicles.map(vehicle => {
                return `
                    <div class="travel-card !h-[10rem]">
                        <div class="flex items-center mt-1">
                            <i class="fa-brands fa-space-awesome"></i>
                            <p class="ml-4">${vehicle.name}</p>
                        </div>

                        <div class="flex items-center mt-1">
                            <i class="fa-solid fa-fingerprint"></i>
                            <p class="ml-4">${vehicle.registration_number}</p>
                        </div>

                        <div class="flex items-center mt-1">
                            <i class="fa-solid fa-person"></i>
                            <p class="ml-4">${vehicle.max_passengers} max passengers</p>
                        </div>

                        <div class="edit-vehicle absolute bottom-12 -right-4 bg-cosmic-purple p-4 text-white font-thin text-xl cursor-pointer" data-vehicle-id="${vehicle.id}">
                            <i class="fa-solid fa-edit"></i>
                        </div>

                        <div class="delete-vehicle absolute -bottom-4 -right-4 bg-danger p-4 text-white font-thin text-xl cursor-pointer" data-vehicle-id="${vehicle.id}">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                `;
            }).join('');
        }

    function updateVehiclesList(vehicles) {
        const coursesContainer = $('#vehicles-holder')
        const newCoursesHTML = generateVehicleHTML(vehicles);
        coursesContainer.html(newCoursesHTML);
    }

        function getVehicleList(){
            
            const csrfToken = getCSRFToken();
            const getVehiclesUrl = "{{get_vehicles_url}}"

            fetch(getVehiclesUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({})
            })
            .then((response) => response.json())
            .then((response) => {
                updateVehiclesList(response)
            });
        }

        
        function addVehicleRequest(vehicleId){
            let addVehicleUrl = "{{add_vehicle_url}}";
            const csrfToken = getCSRFToken();

            const name = $('#add-vehicle-name').val()
            const registrationNumber = $('#add-vehicle-registration-number').val()
            const maxPassengers = $('#add-vehicle-max-passengers').val()

            fetch(addVehicleUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                   name: name,
                   registrationNumber: registrationNumber,
                   maxPassengers: maxPassengers
                })
            })
            .then((response) => response.json())
            .then((response) => {
                Toastify({
                        text: response.text,
                        duration:3000,
                        style: {
                            background: (response.type == "success") ? "green" : "red",
                        }
                    }).showToast()

                getVehicleList()
            });
        }

        function deleteVehicleRequest(vehicleId){
            let deleteVehicleUrl = "{{delete_vehicle_url}}";
            const csrfToken = getCSRFToken();

            if(!vehicleId){
                Toastify({
                        text: "Please select vehicle to delete!",
                        duration:3000,
                        style: {
                            background: "red",
                        }
                    }).showToast()
                return
            }

            fetch(deleteVehicleUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                   id: vehicleId,
                })
            })
            .then((response) => response.json())
            .then((response) => {
                Toastify({
                        text: response.text,
                        duration:3000,
                        style: {
                            background: (response.type == "success") ? "green" : "red",
                        }
                    }).showToast()
            });
        }
    </script>
</body>
</html>
