{% extends "layout.html" %}

{% block page_title %}Manage Vehicles{% endblock %}

{% block content %}
<div id="navbar" class="w-screen flex flex-row p-5 h-[15vh] z-20">
    {% include "drivers/navbar.html" %}
</div>

<div class="w-[75vw] h-[85vh] mt-0 z-10 ">
    <div class="w-full h-auto flex flex-col mt-24"> 
        <div class="flex flex-row justify-start items-start flex-wrap w-full gap-3 text-2xl font-bold">
            <a href="#">
                <div class="bg-cosmic-purple p-3 rounded-md text-white">Manage your vehicles</div>
            </a>

            <a href="#">
                <div class="bg-dark-grey p-3 rounded-md text-white">Manage your courses</div>
            </a>

            <div id="add-vehicle" class="rounded-full w-14 h-14 bg-accept cursor-pointer flex justify-center items-center text-white">
                <i class="fa-solid fa-add"></i>
            </div>
        </div>
    </div>

    <div id="vehicles-holder" class="w-full bg-transparent min-h-[60vh] max-h-[60vh] mt-6 flex justify-between flex-row gap-2 flex-wrap overflow-y-auto overflow-x-hidden scrollbar-main">
        {% for vehicle in vehicles %}
            {% include "drivers/vehicle_card.html" with vehicle=vehicle %}
        {% endfor %}
    </div>
</div>

{% include "drivers/modals.html" %}

<script>
    const edit_vehicle_url = "{{ edit_vehicle_url }}";
    const get_vehicle_url = "{{ get_vehicle_url }}";
    const get_vehicles_url = "{{ get_vehicles_url }}";
    const add_vehicle_url = "{{ add_vehicle_url }}";
    const delete_vehicle_url = "{{ delete_vehicle_url }}";
</script>

{% include "drivers/scripts.html" %}
{% endblock %}